[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.4.0"
pyscroll = "==2.29.0"
PyTMX = "==3.31.0"
PyInstaller = "==5.13.0"
future = "==0.18.3"
pywin32-ctypes = "==0.2.2"
macholib = "==1.16.2"

[dev-packages]

[requires]
python_version = "3.11.3"
